Repository terpasaurus-midwest/esphome-fork: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

Bump version to 2025.7.3
  Doxyfile
  esphome/const.py
Due: pylint

[api] Implement zero-copy string optimization for outgoing protobuf messages (#9790)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/custom_api_device.h
  esphome/components/api/homeassistant_service.h
  esphome/components/api/proto.h
  esphome/components/api/user_services.h
  esphome/components/homeassistant/number/homeassistant_number.cpp
  esphome/components/homeassistant/switch/homeassistant_switch.cpp
  esphome/components/text/text_traits.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/core/entity_base.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[schema-gen] fix referenced schemas when schema in component platform (#9755)
  script/build_language_schema.py
Due: pylint

[audio] fix typo `gneneral` and `divison` (#9808)
  esphome/components/audio/audio.h
Due: none

[sgp4x] Fix build (#9794)
  esphome/components/sgp4x/sensor.py
Due: pylint

[http_request] set correct duration_ms for failed requests (#9789)
  esphome/components/http_request/http_request_idf.cpp
Due: none

[udp] Move ``on_receive`` to const (#9811)
  esphome/components/const/__init__.py
  esphome/components/udp/__init__.py
Due: pylint

Bump ESP32 IDF version to 5.4.2 and Arduino version to 3.2.1 (#9770)
  .clang-tidy.hash
  esphome/components/esp32/__init__.py
  esphome/components/ethernet/esp_eth_phy_jl1101.c
  esphome/components/ethernet/ethernet_component.h
  esphome/core/defines.h
  platformio.ini
  script/clang-tidy
Due: pylint, clang-tidy-hash

Workflow - check all comments to find previous bot comment (#9815)
  .github/workflows/external-component-bot.yml
Due: none

[core] Match LockFreeQueue initialization order (#9813)
  esphome/core/lock_free_queue.h
Due: none

[CI] Paginate codeowner comments to make sure we find it (#9817)
  .github/workflows/codeowner-review-request.yml
Due: none

[CI] Paginate codeowner comments to make sure we find it (#9818)
  .github/workflows/issue-codeowner-notify.yml
Due: none

[core] Initialize looping_components_ before setup blocking phase (#9820)
  esphome/core/application.cpp
Due: none

[remote_receiver] Fix idle validation (#9819)
  esphome/components/remote_receiver/__init__.py
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
Due: pylint

[i2c] Use ``i2c_master_probe`` to scan i2c bus (#9831)
  esphome/components/i2c/i2c_bus.h
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/i2c/i2c_bus_esp_idf.h
Due: none

[core] Restore COMPONENT_STATE_LOOP_DONE check in calculate_looping_components (#9832)
  esphome/core/application.cpp
Due: none

[ci] Support C++17 nested namespace syntax in linter (#9826)
  script/ci-custom.py
Due: pylint

feat: implement power management components for core s3
  .gitignore
  configs/.gitignore
  configs/test-grow-monitor.yaml
  my_components/board_m5cores3/__init__.py
  my_components/board_m5cores3/board_m5cores3.cpp
  my_components/board_m5cores3/board_m5cores3.h
  my_components/m5cores3_power/__init__.py
  my_components/m5cores3_power/automations.py
  my_components/m5cores3_power/m5cores3_power.cpp
  my_components/m5cores3_power/m5cores3_power.h
Due: pylint

perf: memory handling improvements
  my_components/grow_env_monitor/grow_env_monitor.cpp
  my_components/grow_env_monitor/grow_env_monitor.h
Due: none

feat: implement thermal cam web endpoint, refactor thermal driver to its own component
  configs/test-grow-monitor.yaml
  my_components/grow_env_monitor/__init__.py
  my_components/grow_env_monitor/grow_env_monitor.cpp
  my_components/grow_env_monitor/grow_env_monitor.h
  my_components/grow_env_monitor/interpolation.cpp
  my_components/mlx90640/MLX90640_API.cpp
  my_components/mlx90640/MLX90640_API.h
  my_components/mlx90640/MLX90640_I2C_Driver.cpp
  my_components/mlx90640/MLX90640_I2C_Driver.h
  my_components/mlx90640/README.md
  my_components/mlx90640/__init__.py
  my_components/mlx90640/example.yaml
  my_components/mlx90640/mlx90640.cpp
  my_components/mlx90640/mlx90640.h
Due: pylint

Update Melexis readme
  my_components/mlx90640/README.md
Due: none

Add more components.
  configs/test-grow-monitor.yaml
  my_components/m5cores3_display/__init__.py
  my_components/m5cores3_display/m5cores3_display.cpp
  my_components/m5cores3_display/m5cores3_display.h
  my_components/m5cores3_power/__init__.py
  my_components/m5cores3_power/automations.py
  my_components/m5unit_co2l/__init__.py
  my_components/m5unit_co2l/m5unit_co2l.cpp
  my_components/m5unit_co2l/m5unit_co2l.h
Due: pylint

fix: sync with thermal sensor before getting image data
  configs/test-grow-monitor.yaml
  my_components/grow_env_monitor/grow_env_monitor.cpp
Due: none

chore: remove unused libraries
  configs/test-grow-monitor.yaml
Due: none

feat: implement auto-generated controls with persistence for MLX90640 thermal camera
  configs/test-grow-monitor.yaml
  my_components/grow_env_monitor/__init__.py
  my_components/grow_env_monitor/grow_env_monitor.cpp
  my_components/grow_env_monitor/grow_env_monitor.h
  my_components/mlx90640/README.md
  my_components/mlx90640/__init__.py
  my_components/mlx90640/example.yaml
  my_components/mlx90640/mlx90640.cpp
  my_components/mlx90640/mlx90640.h
  my_components/scd4x_alerts/README.md
  my_components/scd4x_alerts/__init__.py
  my_components/scd4x_alerts/scd4x_alerts.cpp
  my_components/scd4x_alerts/scd4x_alerts.h
Due: pylint

feat: implement M5Unified display and touch support
  configs/test-grow-monitor.yaml
  my_components/board_m5cores3/board_m5cores3.cpp
  my_components/m5cores3_display/m5cores3_display.cpp
  my_components/m5cores3_display/m5cores3_display.h
  my_components/m5cores3_touch/__init__.py
  my_components/m5cores3_touch/m5cores3_touch.cpp
  my_components/m5cores3_touch/m5cores3_touch.h
Due: pylint

feat: add unfinished ezo_types stuff
  configs/test-ezo-types.yaml
  my_components/ezo_types/__init__.py
  my_components/ezo_types/ezo_types.cpp
  my_components/ezo_types/ezo_types.h
  my_components/ezo_types/sensor.py
Due: pylint

feat: add thermal camera region of interest support
  configs/test-grow-monitor.yaml
  my_components/grow_env_monitor/__init__.py
  my_components/grow_env_monitor/grow_env_monitor.cpp
  my_components/grow_env_monitor/grow_env_monitor.h
Due: pylint

Update Melexis thermal cam driver
  my_components/grow_env_monitor/MLX90640_API.cpp
  my_components/grow_env_monitor/MLX90640_API.h
  my_components/grow_env_monitor/MLX90640_I2C_Driver.cpp
  my_components/grow_env_monitor/MLX90640_I2C_Driver.h
Due: none

Implement Melexis driver, improve thermal video
  configs/test-grow-monitor.yaml
  my_components/grow_env_monitor/MLX90640_API.cpp
  my_components/grow_env_monitor/MLX90640_API.h
  my_components/grow_env_monitor/MLX90640_I2C_Driver.cpp
  my_components/grow_env_monitor/MLX90640_I2C_Driver.h
  my_components/grow_env_monitor/__init__.py
  my_components/grow_env_monitor/grow_env_monitor.cpp
  my_components/grow_env_monitor/grow_env_monitor.h
  my_components/grow_env_monitor/interpolation.cpp
  my_components/m5cores3_display/__init__.py
  my_components/m5cores3_display/m5cores3_display.cpp
  my_components/m5cores3_display/m5cores3_display.h
  my_components/m5unit_co2l/__init__.py
  my_components/m5unit_co2l/m5unit_co2l.cpp
  my_components/m5unit_co2l/m5unit_co2l.h
  my_components/scd4x_alerts/README.md
  my_components/scd4x_alerts/__init__.py
  my_components/scd4x_alerts/scd4x_alerts.cpp
  my_components/scd4x_alerts/scd4x_alerts.h
  my_components/scd4x_stats/README.md
  my_components/scd4x_stats/__init__.py
  my_components/scd4x_stats/scd4x_stats.cpp
  my_components/scd4x_stats/scd4x_stats.h
Due: pylint

refactor(mlx90640): make web server optional fix web_server_base reference
  configs/test-grow-monitor.yaml
  my_components/mlx90640/__init__.py
  my_components/mlx90640/mlx90640.cpp
  my_components/mlx90640/mlx90640.h
Due: pylint

refactor(mlx90640): integrate with ESPHome I2C infrastructure
  my_components/mlx90640/__init__.py
  my_components/mlx90640/mlx90640.cpp
  my_components/mlx90640/mlx90640.h
Due: pylint

feat(mlx90640): add ROI overlay to thermal JPEG endpoint
  my_components/mlx90640/mlx90640.cpp
  my_components/mlx90640/mlx90640.h
Due: none

feat(mlx90640): add optional thermal image overlay and refactor docs
  configs/test-grow-monitor.yaml
  my_components/mlx90640/README.md
  my_components/mlx90640/__init__.py
  my_components/mlx90640/example.yaml
  my_components/mlx90640/mlx90640.cpp
  my_components/mlx90640/mlx90640.h
Due: pylint

fix(mlx90640): sync ROI crosshairs with UI sliders on device restart
  configs/test-grow-monitor.yaml
  my_components/mlx90640/example.yaml
  my_components/mlx90640/mlx90640.cpp
  my_components/mlx90640/mlx90640.h
Due: none

Initialize ezo type-specific component
  configs/test-ezo-types.yaml
  my_components/ezo_types/__init__.py
  my_components/ezo_types/ezo_types.cpp
  my_components/ezo_types/ezo_types.h
  my_components/ezo_types/sensor.py
Due: pylint

feat(ezo_types): add support for EC sensor TDS, salinity, and relative density outputs
  configs/test-ezo-types.yaml
  my_components/ezo_types/ezo_types.cpp
  my_components/ezo_types/ezo_types.h
  my_components/ezo_types/sensor.py
Due: pylint

feat(ezo_types): add sensor calibration support
  configs/test-ezo-types.yaml
  my_components/ezo_types/ezo_types.cpp
  my_components/ezo_types/ezo_types.h
Due: none

refactor(ezo): extract shared code to component root
  esphome/components/ezo/__init__.py
  esphome/components/ezo/sensor.py
Due: pylint

feat(ezo_types): add temperature compensation sensors and control switches
  configs/test-ezo-types.yaml
  my_components/ezo_types/ezo_types.cpp
  my_components/ezo_types/ezo_types.h
  my_components/ezo_types/sensor.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
