Repository terpasaurus-midwest/esphome-fork: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[voice_assistant] Use media player callbacks to track TTS response status (#9670)
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Due: none

esp32cam: add fb location config option (#9630)
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
  tests/components/esp32_camera/common.yaml
Due: pylint

[i2s_audio] Bugfix: cast adc_channel_t to adc1_channel_t (#9688)
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
Due: none

[gpio] Disable interrupt mode by default for LibreTiny platforms (#9687)
  esphome/components/gpio/binary_sensor/__init__.py
Due: pylint

[api] Fix compilation error with char* lambdas in HomeAssistant services (#9638)
  esphome/components/api/homeassistant_service.h
  tests/integration/fixtures/api_string_lambda.yaml
  tests/integration/test_api_string_lambda.py
Due: pylint

[wireguard] Fix boot loop when CONFIG_LWIP_TCPIP_CORE_LOCKING is enabled (#9637)
  esphome/components/wireguard/wireguard.cpp
Due: none

Fix template event web_server crash (#9618)
  esphome/components/web_server/web_server.cpp
Due: none

[scheduler] Fix cancellation of timers with empty string names (#9641)
  esphome/core/component.cpp
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/integration/fixtures/scheduler_string_test.yaml
  tests/integration/test_scheduler_heap_stress.py
Due: pylint

esp32_camera: deprecate i2c_pins; throw error if combined with i2c: block (#9615)
  esphome/components/esp32_camera/__init__.py
Due: pylint

[logger] fix on_message (#9642)
  esphome/components/logger/__init__.py
  tests/components/logger/test-on_message.host.yaml
Due: pylint

[scheduler] Fix DelayAction cancellation in restart mode scripts (#9646)
  esphome/core/base_automation.h
  tests/integration/fixtures/delay_action_cancellation.yaml
  tests/integration/test_automations.py
Due: pylint

[lvgl] Fix meter rotation (#9605)
  esphome/components/lvgl/widgets/meter.py
Due: pylint

[lvgl] Prevent keyerror on min/max value widgets with no default (#9660)
  esphome/components/lvgl/types.py
Due: pylint

[libretiny] Remove unsupported lock-free queue and event pool implementations (#9653)
  esphome/core/event_pool.h
  esphome/core/lock_free_queue.h
Due: none

Fix AsyncTCP version mismatch between platformio.ini and async_tcp component (#9676)
  platformio.ini
Due: clang-tidy-hash

[speaker] Media player's pipeline properly returns playing state near end of file (#9668)
  esphome/components/speaker/media_player/audio_pipeline.cpp
  esphome/components/speaker/media_player/audio_pipeline.h
Due: none

Bump version to 2025.7.2
  Doxyfile
  esphome/const.py
Due: pylint

Add core team as codeowner of .github folder (#9663)
  CODEOWNERS
  script/build_codeowners.py
Due: pylint

[gpio] Auto-disable interrupts for shared GPIO pins in binary sensors (#9701)
  esphome/components/gpio/binary_sensor/__init__.py
Due: pylint

[CI] Fix clang-tidy not running when platformio.ini changes (#9678)
  script/determine-jobs.py
  tests/script/test_determine_jobs.py
Due: pylint

Fix format string error in ota_web_server.cpp (#9711)
  esphome/components/web_server/ota/ota_web_server.cpp
Due: none

[sdl][mipi_spi] Respect clipping when drawing (#9722)
  esphome/components/mipi_spi/mipi_spi.h
  esphome/components/sdl/sdl_esphome.cpp
Due: none

Update Melexis thermal cam driver
  my_components/grow_env_monitor/MLX90640_API.cpp
  my_components/grow_env_monitor/MLX90640_API.h
  my_components/grow_env_monitor/MLX90640_I2C_Driver.cpp
  my_components/grow_env_monitor/MLX90640_I2C_Driver.h
Due: none

feat: implement M5Unified display and touch support
  configs/test-grow-monitor.yaml
  my_components/board_m5cores3/board_m5cores3.cpp
  my_components/m5cores3_display/m5cores3_display.cpp
  my_components/m5cores3_display/m5cores3_display.h
  my_components/m5cores3_touch/__init__.py
  my_components/m5cores3_touch/m5cores3_touch.cpp
  my_components/m5cores3_touch/m5cores3_touch.h
Due: pylint

[api] Fix missing ifdef guards for field_ifdef fields in protobuf base classes (#9693)
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[const] Move CONF_FLIP_X and CONF_FLIP_Y to ``const.py`` (#9741)
  esphome/components/max7219digit/display.py
  esphome/components/ssd1306_base/__init__.py
  esphome/const.py
Due: pylint

core/scheduler: Make millis_64_ rollover monotonic on SMP (#9716)
  esphome/components/esp32/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/host/__init__.py
  esphome/components/libretiny/__init__.py
  esphome/components/rp2040/__init__.py
  esphome/const.py
  esphome/core/defines.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: pylint

[bluetooth_proxy] Fix service discovery on disconnect and refactor connection handling (#9697)
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
Due: none

[esp32_ble_tracker] Batch BLE advertisement processing to reduce overhead (#9699)
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Due: none

[api] Memory optimizations for API frame helper buffering (#9724)
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
Due: none

[api] Eliminate heap allocation in process_batch_ using stack-allocated PacketInfo array (#9703)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
Due: none

[api] Remove deprecated protobuf fields to reduce flash usage (#9679)
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[CI] Only mention codeowners once (#9727)
  .github/workflows/codeowner-review-request.yml
  .github/workflows/issue-codeowner-notify.yml
Due: none

[api] Consolidate error handling and remove unused code (#9726)
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
Due: none

[api] Fix missing ifdef guards for AreaInfo and DeviceInfo messages (#9730)
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  script/api_protobuf/api_protobuf.py
Due: pylint

[core] Refactor scheduler to eliminate hidden side effects in empty_ (#9743)
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

[api] Reduce memory usage by eliminating duplicate client info strings (#9740)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_server.cpp
Due: none

fix: sync with thermal sensor before getting image data
  configs/test-grow-monitor.yaml
  my_components/grow_env_monitor/grow_env_monitor.cpp
Due: none

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
