Repository terpasaurus-midwest/esphome-fork: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.3
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[online_image] Support `byte_order` (#9502)
  esphome/components/online_image/__init__.py
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
Due: pylint

[json] Bump ArduinoJson library to 7.4.2 (#8857)
  esphome/components/http_request/update/http_request_update.cpp
  esphome/components/json/__init__.py
  esphome/components/json/json_util.cpp
  esphome/components/light/light_json_schema.cpp
  esphome/components/mqtt/mqtt_alarm_control_panel.cpp
  esphome/components/mqtt/mqtt_binary_sensor.cpp
  esphome/components/mqtt/mqtt_button.cpp
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_cover.cpp
  esphome/components/mqtt/mqtt_date.cpp
  esphome/components/mqtt/mqtt_datetime.cpp
  esphome/components/mqtt/mqtt_event.cpp
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_light.cpp
  esphome/components/mqtt/mqtt_lock.cpp
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/mqtt/mqtt_select.cpp
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/mqtt/mqtt_switch.cpp
  esphome/components/mqtt/mqtt_text.cpp
  esphome/components/mqtt/mqtt_text_sensor.cpp
  esphome/components/mqtt/mqtt_time.cpp
  esphome/components/mqtt/mqtt_update.cpp
  esphome/components/mqtt/mqtt_valve.cpp
  esphome/components/web_server/web_server.cpp
  platformio.ini
Due: pylint, clang-tidy-hash

[fan] Do not save state for fan if configured as NO_RESTORE (#9472)
  esphome/components/fan/fan.cpp
Due: none

Fix blocked CI cancellation caused by always() in clang-tidy workflow (#9503)
  .github/workflows/ci.yml
Due: none

Fix LibreTiny compilation error by updating ESPAsyncWebServer and dependencies (#9492)
  esphome/components/async_tcp/__init__.py
  esphome/components/web_server_base/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[captive_portal] Add test case for libretiny (#9457)
  tests/components/captive_portal/test.bk72xx-ard.yaml
Due: none

[opentherm.output] Fix ``lerp`` (#9506)
  esphome/components/opentherm/output/output.cpp
Due: none

[servo] Fix ``lerp`` (#9507)
  esphome/components/servo/servo.cpp
Due: none

Include entire platformio.ini in clang-tidy hash calculation (#9509)
  .clang-tidy.hash
  script/clang_tidy_hash.py
  tests/script/test_clang_tidy_hash.py
Due: pylint

Add missing clang-tidy NOLINT comments for ArduinoJson v7 in IDF webserver (#9508)
  esphome/components/web_server_idf/web_server_idf.cpp
Due: none

[core] Don't issue -Wno-volatile for host platform (#9511)
  esphome/writer.py
Due: pylint

[component] Fix ``is_ready`` flag when loop disabled (#9501)
  esphome/core/component.cpp
  tests/integration/fixtures/external_components/loop_test_component/__init__.py
  tests/integration/fixtures/external_components/loop_test_component/loop_test_component.cpp
  tests/integration/fixtures/external_components/loop_test_component/loop_test_component.h
  tests/integration/fixtures/loop_disable_enable.yaml
  tests/integration/test_loop_disable_enable.py
Due: pylint

Enable issue tracking (#9515)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

[repo] Fix issue template config.yml (#9516)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Bump version to 2025.7.0b4
  Doxyfile
  esphome/const.py
Due: pylint

Suppress spurious volatile and Python syntax warnings during builds (#9488)
  esphome/platformio_api.py
  esphome/writer.py
Due: pylint

feat: implement power management components for core s3
  .gitignore
  configs/.gitignore
  configs/test-grow-monitor.yaml
  my_components/board_m5cores3/__init__.py
  my_components/board_m5cores3/board_m5cores3.cpp
  my_components/board_m5cores3/board_m5cores3.h
  my_components/m5cores3_power/__init__.py
  my_components/m5cores3_power/automations.py
  my_components/m5cores3_power/m5cores3_power.cpp
  my_components/m5cores3_power/m5cores3_power.h
Due: pylint

feat: add unfinished ezo_types stuff
  configs/test-ezo-types.yaml
  my_components/ezo_types/__init__.py
  my_components/ezo_types/ezo_types.cpp
  my_components/ezo_types/ezo_types.h
  my_components/ezo_types/sensor.py
Due: pylint

[ms8607] Fix humidity calc (#9499)
  esphome/components/ms8607/ms8607.cpp
Due: none

Fix timing overflow when components disable themselves during loop (#9529)
  esphome/core/application.cpp
Due: none

[as3935_spi] remove unnecessary includes (#9528)
  esphome/components/as3935_spi/as3935_spi.h
Due: none

Bump version to 2025.7.0b5
  Doxyfile
  esphome/const.py
Due: pylint

Bump version to 2025.7.0
  Doxyfile
  esphome/const.py
Due: pylint

[nrf52, core] nrf52 core based on zephyr (#7049)
  CODEOWNERS
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/logger/logger_zephyr.cpp
  esphome/components/nrf52/__init__.py
  esphome/components/nrf52/boards.py
  esphome/components/nrf52/const.py
  esphome/components/nrf52/gpio.py
  esphome/components/time/__init__.py
  esphome/components/time/real_time_clock.cpp
  esphome/components/zephyr/__init__.py
  esphome/components/zephyr/const.py
  esphome/components/zephyr/core.cpp
  esphome/components/zephyr/gpio.cpp
  esphome/components/zephyr/gpio.h
  esphome/components/zephyr/pre_build.py.script
  esphome/components/zephyr/preferences.cpp
  esphome/components/zephyr/preferences.h
  esphome/const.py
  esphome/core/__init__.py
  esphome/core/helpers.h
  tests/components/gpio/test.nrf52-adafruit.yaml
  tests/components/gpio/test.nrf52-mcumgr.yaml
  tests/components/logger/test.nrf52-adafruit.yaml
  tests/components/logger/test.nrf52-mcumgr.yaml
  tests/components/time/test.nrf52-adafruit.yaml
  tests/components/time/test.nrf52-mcumgr.yaml
  tests/components/uptime/test.nrf52-adafruit.yaml
  tests/components/uptime/test.nrf52-mcumgr.yaml
  tests/test_build_components/build_components_base.nrf52-adafruit.yaml
  tests/test_build_components/build_components_base.nrf52-mcumgr.yaml
Due: pylint

remove duplication from component_iterator (#7210)
  esphome/components/api/user_services.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
Due: none

[adc] Use new library with ESP-IDF v5 (#9021)
  esphome/components/adc/__init__.py
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/adc_sensor_esp32.cpp
  esphome/components/adc/sensor.py
Due: pylint
