Repository terpasaurus-midwest/esphome-fork: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

Remove dead code: 64-bit protobuf types never used in 7 years (#9471)
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Due: pylint

Add runtime_stats component for performance debugging and analysis (#9386)
  CODEOWNERS
  esphome/components/runtime_stats/__init__.py
  esphome/components/runtime_stats/runtime_stats.cpp
  esphome/components/runtime_stats/runtime_stats.h
  esphome/core/application.cpp
  esphome/core/component.cpp
  tests/components/runtime_stats/common.yaml
  tests/components/runtime_stats/test.esp32-ard.yaml
  tests/integration/fixtures/runtime_stats.yaml
  tests/integration/test_runtime_stats.py
Due: pylint

Make API ConnectRequest optional for passwordless connections (#9445)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  tests/integration/fixtures/host_mode_api_password.yaml
  tests/integration/test_host_mode_api_password.py
Due: pylint

Improve API protobuf decode method readability and reduce code size (#9455)
  esphome/components/api/api_pb2.cpp
  script/api_protobuf/api_protobuf.py
Due: pylint

Reduce API component flash usage by consolidating error logging (#9468)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_server.cpp
Due: none

Remove parsed advertisement support from bluetooth_proxy to save memory (#9489)
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/automation.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/core/defines.h
Due: pylint

Drop Python 3.10 support, require Python 3.11+ (#9522)
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  esphome/components/lvgl/styles.py
  esphome/dashboard/dns.py
  pyproject.toml
  requirements.txt
  script/lint-python
  tests/integration/conftest.py
  tests/integration/test_api_message_size_batching.py
  tests/integration/test_api_reboot_timeout.py
  tests/integration/test_areas_and_devices.py
  tests/integration/test_device_id_in_state.py
  tests/integration/test_duplicate_entities.py
  tests/integration/test_entity_icon.py
  tests/integration/test_host_mode_batch_delay.py
  tests/integration/test_host_mode_empty_string_options.py
  tests/integration/test_host_mode_entity_fields.py
  tests/integration/test_host_mode_many_entities.py
  tests/integration/test_host_mode_many_entities_multiple_connections.py
  tests/integration/test_host_mode_sensor.py
  tests/integration/test_loop_disable_enable.py
  tests/integration/test_scheduler_bulk_cleanup.py
  tests/integration/test_scheduler_defer_cancel.py
  tests/integration/test_scheduler_defer_cancel_regular.py
  tests/integration/test_scheduler_defer_fifo_simple.py
  tests/integration/test_scheduler_defer_stress.py
  tests/integration/test_scheduler_heap_stress.py
  tests/integration/test_scheduler_null_name.py
  tests/integration/test_scheduler_rapid_cancellation.py
  tests/integration/test_scheduler_recursive_timeout.py
  tests/integration/test_scheduler_simultaneous_callbacks.py
  tests/integration/test_scheduler_string_lifetime.py
  tests/integration/test_scheduler_string_name_stress.py
  tests/integration/test_scheduler_string_test.py
Due: pylint

Optimize MedianFilter memory allocation by adding vector reserve (#9531)
  esphome/components/sensor/filter.cpp
Due: none

[i2c] Use new driver with IDF 5.4.2+ (#8483)
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/i2c/i2c_bus_esp_idf.h
Due: none

Optimize scheduler timing by reducing millis() calls (#9524)
  esphome/core/application.cpp
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

Optimize API component LOGCONFIG usage for flash memory savings (#9526)
  esphome/components/api/api_server.cpp
Due: none

Skip API log message calls for unsubscribed log levels (#9514)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_server.cpp
Due: none

Optimize API connection batch priority message handling to reduce flash usage (#9510)
  esphome/components/api/api_connection.cpp
Due: none

Add more components.
  configs/test-grow-monitor.yaml
  my_components/m5cores3_display/__init__.py
  my_components/m5cores3_display/m5cores3_display.cpp
  my_components/m5cores3_display/m5cores3_display.h
  my_components/m5cores3_power/__init__.py
  my_components/m5cores3_power/automations.py
  my_components/m5unit_co2l/__init__.py
  my_components/m5unit_co2l/m5unit_co2l.cpp
  my_components/m5unit_co2l/m5unit_co2l.h
Due: pylint

Reduce flash usage by replacing ProtoSize template with specialized methods (#9487)
  esphome/components/api/api_pb2.cpp
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[ssd1306_base] fix typo `brighrness` (#9491)
  esphome/components/ssd1306_base/ssd1306_base.cpp
Due: none

Fix CI failures from merge collisions (#9535)
  tests/integration/test_host_mode_api_password.py
  tests/integration/test_runtime_stats.py
Due: pylint

Remove legacy unique_id field from entities (#9022)
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/adc_sensor_esp8266.cpp
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/ethernet_info/ethernet_info_text_sensor.h
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/mqtt/mqtt_sensor.h
  esphome/components/mqtt/mqtt_text_sensor.cpp
  esphome/components/mqtt/mqtt_text_sensor.h
  esphome/components/one_wire/one_wire.cpp
  esphome/components/one_wire/one_wire.h
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/text_sensor/text_sensor.cpp
  esphome/components/text_sensor/text_sensor.h
  esphome/components/uptime/sensor/uptime_seconds_sensor.cpp
  esphome/components/uptime/sensor/uptime_seconds_sensor.h
  esphome/components/version/version_text_sensor.cpp
  esphome/components/version/version_text_sensor.h
  esphome/components/wifi_info/wifi_info_text_sensor.h
  esphome/components/wifi_signal/wifi_signal_sensor.h
Due: none

Reduce binary size with field-level conditional compilation for protobuf messages (#9473)
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_options.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  script/api_protobuf/api_protobuf.py
Due: pylint

[lvgl]: fix missing await keyword in meter tick_style width processing (#9538)
  esphome/components/lvgl/widgets/meter.py
  tests/components/lvgl/lvgl-package.yaml
Due: pylint

[adc] Test platforms on IDF (#9536)
  tests/components/adc/common.yaml
  tests/components/adc/test.bk72xx-ard.yaml
  tests/components/adc/test.esp32-ard.yaml
  tests/components/adc/test.esp32-c3-idf.yaml
  tests/components/adc/test.esp32-idf.yaml
  tests/components/adc/test.esp32-s2-idf.yaml
  tests/components/adc/test.esp32-s3-ard.yaml
  tests/components/adc/test.esp32-s3-idf.yaml
  tests/components/adc/test.esp8266-ard.yaml
  tests/components/adc/test.ln882x-ard.yaml
  tests/components/adc/test.rp2040-ard.yaml
Due: none

Refactor API connection entity encoding to reduce code duplication (#9505)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
Due: none

Reduce API proto vtable overhead by splitting decode functionality (#9541)
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/proto.cpp
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Due: pylint

Add ability to have same entity names on different sub devices (#9355)
  esphome/components/api/api_connection.cpp
  esphome/core/application.h
  esphome/core/entity_helpers.py
  tests/integration/fixtures/areas_and_devices.yaml
  tests/integration/fixtures/duplicate_entities_on_different_devices.yaml
  tests/integration/test_areas_and_devices.py
  tests/integration/test_duplicate_entities.py
  tests/unit_tests/core/test_entity_helpers.py
Due: pylint

Synchronise Device Classes from Home Assistant (#9513)
  esphome/components/number/__init__.py
  esphome/components/sensor/__init__.py
  esphome/const.py
Due: pylint

Update script/helpers.py to use ESPHome YAML parser for integration fixtures (#9544)
  script/helpers.py
  tests/script/test_helpers.py
Due: pylint

[adc] Add ESP32-C5 support (#9486)
  esphome/components/adc/__init__.py
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/adc_sensor_esp32.cpp
Due: pylint

Bump ESP32 IDF version to 5.4.2 and Arduino version to 3.2.1 (#9305)
  esphome/components/esp32/__init__.py
  esphome/components/ethernet/esp_eth_phy_jl1101.c
  esphome/components/ethernet/ethernet_component.h
  esphome/core/defines.h
  platformio.ini
Due: pylint, clang-tidy-hash

Fix compilation error when using string lambdas with homeassistant services (#9543)
  esphome/components/api/homeassistant_service.h
  tests/integration/fixtures/api_string_lambda.yaml
  tests/integration/test_api_string_lambda.py
Due: pylint

Move CONF_ALTITUDE_COMPENSATION to const.py (#9563)
  esphome/components/scd30/sensor.py
  esphome/components/scd4x/sensor.py
  esphome/const.py
Due: pylint

Revert "Bump ESP32 IDF version to 5.4.2 and Arduino version to 3.2.1" (#9574)
  esphome/components/esp32/__init__.py
  esphome/components/ethernet/esp_eth_phy_jl1101.c
  esphome/components/ethernet/ethernet_component.h
  esphome/core/defines.h
  platformio.ini
Due: pylint, clang-tidy-hash

Fix format string warnings in Web Server OTA component (#9569)
  esphome/components/web_server/ota/ota_web_server.cpp
Due: none

Add helpful error message when ESP32+Arduino runs out of flash space (#9580)
  esphome/util.py
Due: pylint

Allow disabling OTA for web_server while keeping it enabled for captive_portal (#9583)
  esphome/components/web_server/__init__.py
  esphome/components/web_server/ota/ota_web_server.cpp
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server_v1.cpp
  tests/component_tests/web_server/test_ota_migration.py
Due: pylint

[esp32] Add missing include for helpers (#9579)
  esphome/components/esp32/helpers.cpp
Due: none

Workflow to auto label PRs based on changes (#9585)
  .github/workflows/auto-label-pr.yml
Due: none

[dependabot] Use specific labels for github-actions updates (#9586)
  .github/dependabot.yml
Due: none

[CI] Add ``by-code-owner`` labelling (#9589)
  .github/workflows/auto-label-pr.yml
Due: none

Fix lwIP thread safety assertion failures on ESP32 (#9570)
  esphome/components/e131/e131_packet.cpp
  esphome/components/esp32/helpers.cpp
  esphome/components/esp8266/helpers.cpp
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/libretiny/helpers.cpp
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/rp2040/helpers.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/zephyr/core.cpp
  esphome/core/helpers.h
Due: none

[CI] Add ``needs-docs`` labelling (#9591)
  .github/workflows/auto-label-pr.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
