Repository terpasaurus-midwest/esphome-fork: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[lvgl]: fix missing await keyword in meter tick_style width processing (#9538)
  esphome/components/lvgl/widgets/meter.py
  tests/components/lvgl/lvgl-package.yaml
Due: pylint

Add helpful error message when ESP32+Arduino runs out of flash space (#9580)
  esphome/util.py
Due: pylint

Fix format string warnings in Web Server OTA component (#9569)
  esphome/components/web_server/ota/ota_web_server.cpp
Due: none

[esp32] Add missing include for helpers (#9579)
  esphome/components/esp32/helpers.cpp
Due: none

Allow disabling OTA for web_server while keeping it enabled for captive_portal (#9583)
  esphome/components/web_server/__init__.py
  esphome/components/web_server/ota/ota_web_server.cpp
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server_v1.cpp
  tests/component_tests/web_server/test_ota_migration.py
Due: pylint

Fix compilation error when using string lambdas with homeassistant services (#9543)
  esphome/components/api/homeassistant_service.h
  tests/integration/fixtures/api_string_lambda.yaml
  tests/integration/test_api_string_lambda.py
Due: pylint

Fix lwIP thread safety assertion failures on ESP32 (#9570)
  esphome/components/e131/e131_packet.cpp
  esphome/components/esp32/helpers.cpp
  esphome/components/esp8266/helpers.cpp
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/libretiny/helpers.cpp
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/rp2040/helpers.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/core/helpers.h
Due: none

Bump version to 2025.7.1
  Doxyfile
  esphome/const.py
Due: pylint

Skip compilation of web_server_v1.cpp when not using version 1 (#9590)
  esphome/components/web_server/__init__.py
Due: pylint

Update Issues / Feature Requests links in Readme (#9600)
  README.md
Due: none

Add some AI instructions (#9606)
  .ai/instructions.md
  .github/copilot-instructions.md
  CLAUDE.md
  GEMINI.md
  script/ci-custom.py
Due: pylint

Update Issues / Feature Requests links (#9607)
  CONTRIBUTING.md
  esphome/components/rp2040/__init__.py
  pyproject.toml
Due: pylint

[ci] Implement external component PR workflow (#9595)
  .github/workflows/external-component-bot.yml
Due: none

[ci] attempt to fix permission for workflow (#9610)
  .github/workflows/external-component-bot.yml
Due: none

Fix template event web_server crash (#9618)
  esphome/components/web_server/web_server.cpp
Due: none

Refactor API send_message from template to non-template implementation (#9561)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/list_entities.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
  script/api_protobuf/api_protobuf.py
Due: pylint

[api] Fix compilation error with char* lambdas in HomeAssistant services (#9638)
  esphome/components/api/homeassistant_service.h
  tests/integration/fixtures/api_string_lambda.yaml
  tests/integration/test_api_string_lambda.py
Due: pylint

[wireguard] Fix boot loop when CONFIG_LWIP_TCPIP_CORE_LOCKING is enabled (#9637)
  esphome/components/wireguard/wireguard.cpp
Due: none

Fix scheduler rollover detection with concurrent task calls (#9624)
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

adds nRF52840 to PR templates (#9631)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

[code quality] move const to esphome/const.py (#9632)
  esphome/components/display_menu_base/__init__.py
  esphome/components/lvgl/widgets/switch.py
  esphome/const.py
Due: pylint

[esp32] Allow variant in place of board (#9427)
  esphome/components/esp32/__init__.py
  esphome/components/esp32/boards.py
  tests/component_tests/esp32/test_esp32.py
Due: pylint

[scheduler] Fix cancellation of timers with empty string names (#9641)
  esphome/core/component.cpp
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/integration/fixtures/scheduler_string_test.yaml
  tests/integration/test_scheduler_heap_stress.py
Due: pylint

[scheduler] Fix LibreTiny compilation error due to missing atomic operations (#9643)
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

[logger] fix on_message (#9642)
  esphome/components/logger/__init__.py
  tests/components/logger/test-on_message.host.yaml
Due: pylint

esp32_camera: deprecate i2c_pins; throw error if combined with i2c: block (#9615)
  esphome/components/esp32_camera/__init__.py
Due: pylint

[scheduler] Fix DelayAction cancellation in restart mode scripts (#9646)
  esphome/core/base_automation.h
  tests/integration/fixtures/delay_action_cancellation.yaml
  tests/integration/test_automations.py
Due: pylint

[lvgl] Fix meter rotation (#9605)
  esphome/components/lvgl/widgets/meter.py
Due: pylint

Fix bluetooth_proxy heap allocations during BLE scanning (#9633)
  esphome/components/api/api.proto
  esphome/components/api/api_options.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  script/api_protobuf/api_protobuf.py
Due: pylint

core/schedule: fixup out of sync code comment (#9649)
  esphome/core/scheduler.h
Due: none

Implement Melexis driver, improve thermal video
  configs/test-grow-monitor.yaml
  my_components/grow_env_monitor/MLX90640_API.cpp
  my_components/grow_env_monitor/MLX90640_API.h
  my_components/grow_env_monitor/MLX90640_I2C_Driver.cpp
  my_components/grow_env_monitor/MLX90640_I2C_Driver.h
  my_components/grow_env_monitor/__init__.py
  my_components/grow_env_monitor/grow_env_monitor.cpp
  my_components/grow_env_monitor/grow_env_monitor.h
  my_components/grow_env_monitor/interpolation.cpp
  my_components/m5cores3_display/__init__.py
  my_components/m5cores3_display/m5cores3_display.cpp
  my_components/m5cores3_display/m5cores3_display.h
  my_components/m5unit_co2l/__init__.py
  my_components/m5unit_co2l/m5unit_co2l.cpp
  my_components/m5unit_co2l/m5unit_co2l.h
  my_components/scd4x_alerts/README.md
  my_components/scd4x_alerts/__init__.py
  my_components/scd4x_alerts/scd4x_alerts.cpp
  my_components/scd4x_alerts/scd4x_alerts.h
  my_components/scd4x_stats/README.md
  my_components/scd4x_stats/__init__.py
  my_components/scd4x_stats/scd4x_stats.cpp
  my_components/scd4x_stats/scd4x_stats.h
Due: pylint

[CI] New workflow to mention codeowners on issues (#9658)
  .github/workflows/issue-codeowner-notify.yml
Due: none

[CI] Add codeowners mention workflow (#9651)
  .github/workflows/codeowner-review-request.yml
Due: none

[CI] Fix by-code-owner labelling (#9661)
  .github/workflows/auto-label-pr.yml
Due: none

[libretiny] Remove unsupported lock-free queue and event pool implementations (#9653)
  esphome/core/event_pool.h
  esphome/core/lock_free_queue.h
Due: none

[lvgl] Prevent keyerror on min/max value widgets with no default (#9660)
  esphome/components/lvgl/types.py
Due: pylint

[scheduler] Add integration tests for set_retry functionality (#9644)
  tests/integration/fixtures/scheduler_retry_test.yaml
  tests/integration/test_scheduler_retry_test.py
Due: pylint

Use message_source_map consistently in proto generation (#9542)
  script/api_protobuf/api_protobuf.py
Due: pylint

Fix AsyncTCP version mismatch between platformio.ini and async_tcp component (#9676)
  .clang-tidy.hash
  platformio.ini
Due: clang-tidy-hash

[speaker] Media player's pipeline properly returns playing state near end of file (#9668)
  esphome/components/speaker/media_player/audio_pipeline.cpp
  esphome/components/speaker/media_player/audio_pipeline.h
Due: none

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
